<h1>Deposit Funds</h1>

<br/>

<form ng-submit="depositFunds(address_from, amount_from)">

    <div class="form-group">

        <label for="addressFrom">Address From</label>

        <select ng-model="address_from" id="addressFrom">
            <option ng-repeat="account in accounts">
                {{account}}
            </option>
        </select>

    </div>

    <div class="form-group">

        <label for="amountInEther"></label>
        <input type="number" class="form-control" id="amountInEther" placeholder="1" ng-model="amount_from">

    </div>

    <button type="submit" class="btn btn-default">Submit</button>

</form>
